/* slider container */

.iosslider {
  /* required */
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  .slider {
    /* required */
    width: 100%;
    height: 100%;
    .slide {
      /* required */
      float: left;
      width: 100%;
      height: 100%;
    }
  }
}

/* slider */

/* slide */