<div class="container content" ng-controller="ExperienceCtrl">
	<div class="row">
		<div class="col-md-6">
			<h1>Schedule</h1>
			<table class="table table-hover">
				<tr>
					<th>Time</th>
					<th>Event / Activity</th>
				</tr>
				<tr>
					<td>Morning</td>
					<td>Registration / Check In</td>
				</tr>
				<tr>
					<td>Morning</td>
					<td>Group Gathering</td>
				</tr>
				<tr>
					<td>Noon</td>
					<td>Lunch</td>
				</tr>
				<tr>
					<td>Afternoon</td>
					<td>Rally / Opening Ceremony</td>
				</tr>
				<tr>
					<td>Evening</td>
					<td>Workshop 1</td>
				</tr>
				<tr>
					<td>Evening</td>
					<td>Dinner</td>
				</tr>
				<tr>
					<td>Evening</td>
					<td>Group Gathering</td>
				</tr>
				<tr>
					<td>Night</td>
					<td>Outdoor Concert / Talen Show</td>
				</tr>
				<tr>
					<td>Night</td>
					<td>Praise &amp; Worship / Reconciliation</td>
				</tr>
				<tr>
					<td>Night</td>
					<td>Adoration / Reconciliation</td>
				</tr>
			</table>
			<h2 class="col-md-6">Saturday</h2>
			<table class="table table-hover">
				<tr>
					<th>Time</th>
					<th>Event / Activity</th>
				</tr>
				<tr>
					<td>Morning</td>
					<td>Breakfast</td>
				</tr>
				<tr>
					<td>Morning</td>
					<td>Group Gathering</td>
				</tr>
				<tr>
					<td>Morning</td>
					<td>Mass</td>
				</tr>
				<tr>
					<td>Noon</td>
					<td>Workshop II</td>
				</tr>
				<tr>
					<td>Afternoon</td>
					<td>Lunch / Concert / Exhibits</td>
				</tr>
				<tr>
					<td>Afternoon</td>
					<td>Group Games / Sports Activities</td>
				</tr>
				<tr>
					<td>Afternoon</td>
					<td>Workshop III</td>
				</tr>
				<tr>
					<td>Evening</td>
					<td>Dinner</td>
				</tr>
				<tr>
					<td>Night</td>
					<td>Entertainment Program &amp; Concert</td>
				</tr>
				<tr>
					<td>Night</td>
					<td>Group Gathering / Reflection</td>
				</tr>
			</table>
			<h2 class="col-md-6">Sunday</h2>
			<table class="table table-hover">
				<tr>
					<th>Time</th>
					<th>Event / Activity</th>
				</tr>
				<tr>
					<td>Morning</td>
					<td>Breakfast</td>
				</tr>
				<tr>
					<td>Morning</td>
					<td>Morning Prayer / Group Gathering</td>
				</tr>
				<tr>
					<td>Morning</td>
					<td>Workshop IV</td>
				</tr>
				<tr>
					<td>Noon</td>
					<td>Lunch / Entertainment</td>
				</tr>
				<tr>
					<td>Afternoon</td>
					<td>Closing Ceremony &amp; Liturgy</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<div class="headline margin-bottom-40"><h2>Past VYC Reflections</h2></div>

			<div style="padding-left: 40px;" ng-repeat="reflection in experience.reflections">
				<blockquote class="blockquote-reverse">
				<p class="text-justify" ng-bind-html="reflection.content"></p>
				<footer ng-bind-html="reflection.author"></footer>
				</blockquote>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="headline">
				<h2>Theme - In Christ Alone</h2>
			</div>
			<div ng-bind-html="experience.theme_description"></div>
		</div>
	</div>
</div>

<style type="text/css">
blockquote {

	font-size: 18px;
	width: 500px;
	margin: 0.25em 0;
	padding: 0.35em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}

blockquote:before {
	font-family: Georgia, serif;
	display: block;
	padding-left: 10px;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -50px;
	top: -20px;
	color: #7a7a7a;
}

blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}
 
blockquote cite:before {
	font-family: Georgia, serif;
	content: "\2014 \2009";
}
</style>