<div class="container content">
				<div class="row home-page">
						<!-- Begin Content -->
						<div class="col-md-9">
								<!-- home Slider -->
								<div class="carousel slide carousel-v1 margin-bottom-40" id="myCarousel-1">
										<div class="carousel-inner">
												<div class="item active">
														<img alt="" src="images/posts/2.jpg">
														<div class="carousel-caption">
																<p>VYC 5 is coming soon</p>
														</div>
												</div>
												<div class="item">
														<img alt="" src="images/posts/1.jpg">
														<div class="carousel-caption">
																<p>VYC 5 is coming soon.</p>
														</div>
														</div>
												<div class="item">
														<img alt="" src="images/posts/3.jpg">
														<div class="carousel-caption">
																<p>VYC 5 is coming soon.</p>
														</div>
												</div>
										</div>
										
										<div class="carousel-arrow">
												<a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
														<i class="fa fa-angle-left"></i>
												</a>
												<a data-slide="next" href="#myCarousel-1" class="right carousel-control">
														<i class="fa fa-angle-right"></i>
												</a>
										</div>
								</div>
								<!-- End home Slider -->

								<!-- home News -->
								<div class="home-news">
										<div class="row">
												<div class="col-md-6">
														<div class="home-news-img">
																<a href="#"><img class="img-responsive" src="images/main/9.jpg" alt=""></a>
																<span class="home-badge label-red">Travel</span>                                    
														</div>
														<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
														<div class="by-author">
																<strong>By Jack Villo</strong>
																<span>/ September 19, 2013</span>
														</div> 
														<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
												</div>
												<div class="col-md-6">
														<div class="home-news-img">
																<a href="#"><img class="img-responsive" src="images/main/10.jpg" alt=""></a>
																<span class="home-badge label-blue">Event</span>
														</div>
														<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
														<div class="by-author">
																<strong>By Admin</strong>
																<span>/ September 19, 2013</span>
														</div> 
														<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
												</div>
										</div>
								</div>
								<!-- End home News -->

								<div class="margin-bottom-35"><hr class="hr-md"></div>
								
								<!-- home News -->
								<div class="home-news">
										<div class="row">
												<div class="col-md-6">
														<div class="home-news-img">
																<a href="#"><img class="img-responsive" src="images/main/7.jpg" alt=""></a>
																<span class="home-badge label-yellow">Media</span>                                    
														</div>
														<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
														<div class="by-author">
																<strong>By Jack Villo</strong>
																<span>/ September 19, 2013</span>
														</div> 
														<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
												</div>
												<div class="col-md-6">
														<div class="home-news-img">
																<a href="#"><img class="img-responsive" src="images/main/11.jpg" alt=""></a>
																<span class="home-badge label-green">Education</span>
														</div>
														<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
														<div class="by-author">
																<strong>By Admin</strong>
																<span>/ September 19, 2013</span>
														</div> 
														<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
												</div>
										</div>
								</div>
								<!-- End home News -->

								<div class="margin-bottom-35"><hr class="hr-md"></div>
								
								<!-- home News -->
								<div class="home-news">
										<div class="row">
												<div class="col-md-6">
														<div class="home-news-img">
																<a href="#"><img class="img-responsive" src="images/main/3.jpg" alt=""></a>
																<span class="home-badge label-purple">Media</span>                                    
														</div>
														<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
														<div class="by-author">
																<strong>By Jack Villo</strong>
																<span>/ September 19, 2013</span>
														</div> 
														<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
												</div>
												<div class="col-md-6">
														<div class="home-news-img">
																<a href="#"><img class="img-responsive" src="images/main/5.jpg" alt=""></a>
																<span class="home-badge label-dark-blue">Education</span>
														</div>
														<h3><a href="#">Simelque Untine Culpaqui Officia Deserunt Blanditiis Praesentium</a></h3>
														<div class="by-author">
																<strong>By Admin</strong>
																<span>/ September 19, 2013</span>
														</div> 
														<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate...</p>
												</div>
										</div>
								</div>
								<!-- End home News -->
					 
						</div>
						<!-- End Content -->

						<!-- Begin Sidebar -->
						<div class="col-md-3">
								<!-- home Posts -->
								<div class="row margin-bottom-40">
										<div class="home-posts col-md-12 col-sm-6 margin-bottom-30">
												<h3><a href="#">News Posts</a></h3>
												<span><i class="color-green">By Dat Tran</i> / March 19, 2014</span>
												<div class="home-posts-img">
														<a href="#"><img class="img-responsive" src="images/main/10.jpg" alt=""></a>
														<span class="home-badge home-badge-red">Unify</span>                                    
												</div>
										</div>
										<div class="home-posts col-md-12 col-sm-6">
												<h3><a href="#">Another News posts </a></h3>
												<span><i class="color-green">By Quan Paul Trieu</i> / July 19, 2014</span>
												<div class="home-posts-img">
														<a href="#"><img class="img-responsive" src="images/main/1.jpg" alt=""></a>
														<span class="home-badge home-badge-green">Bootstrap 3</span>                                    
												</div>
										</div>                
								</div>
								<!-- End home Posts -->


								<!-- Photo Stream -->
								<div class="headline"><h2>Photo Stream</h2></div>            
								<ul class="list-unstyled blog-photos margin-bottom-35">
										<li><a href="#"><img class="hover-effect" alt="" src="assets/images/sliders/elastislide/5.jpg"></a></li>
										<li><a href="#"><img class="hover-effect" alt="" src="assets/images/sliders/elastislide/6.jpg"></a></li>
										<li><a href="#"><img class="hover-effect" alt="" src="assets/images/sliders/elastislide/8.jpg"></a></li>
										<li><a href="#"><img class="hover-effect" alt="" src="assets/images/sliders/elastislide/10.jpg"></a></li>
										<li><a href="#"><img class="hover-effect" alt="" src="assets/images/sliders/elastislide/11.jpg"></a></li>
										<li><a href="#"><img class="hover-effect" alt="" src="assets/images/sliders/elastislide/1.jpg"></a></li>
										<li><a href="#"><img class="hover-effect" alt="" src="assets/images/sliders/elastislide/2.jpg"></a></li>
										<li><a href="#"><img class="hover-effect" alt="" src="assets/images/sliders/elastislide/7.jpg"></a></li>
								</ul>
								<!-- End Photo Stream -->

								<!-- Latest News -->
								<div class="margin-bottom-40">
										<div class="home-mini-news">
												<h3><a href="#">Blanditiis Praesentium Volupeto</a></h3>
												<div class="post-author">
														<strong>By Adam Bvio</strong> 
														<span>/ September 19, 2013</span>
												</div>
												<p>At vero eos et accusamus et iusto odiodig nissimos ducimus usce condimentum eleifend enim a feugiat.</p>
										</div>
										<hr class="hr-md">
										<div class="home-mini-news">
												<h3><a href="#">Blanditiis Praesentium Volupeto</a></h3>
												<div class="post-author">
														<strong>By Kate Baur</strong> 
														<span>/ September 19, 2013</span>
												</div>
												<p>At vero eos et accusamus et iusto odiodig nissimos ducimus usce condimentum eleifend enim a feugiat.</p>
										</div>
										<hr class="hr-md">
										<div class="home-mini-news">
												<h3><a href="#">Blanditiis Praesentium Volupeto</a></h3>
												<div class="post-author">
														<strong>By Admin</strong> 
														<span>/ September 19, 2013</span>
												</div>
												<p>At vero eos et accusamus et iusto odiodig nissimos ducimus usce condimentum eleifend enim a feugiat.</p>
										</div>
								</div>
								<!-- End Latest News -->
						</div>
						<!-- End Sidebar -->
				</div>
		</div>