<div class="container content" ng-controller="MainCtrl">
	<div class="row home-page">
		<!-- Begin Content -->
		<div class="col-md-9">
			<div class="tag-box tag-box-v3" style="background-color: #e74c3c;color:#fff;">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h2 style="color:#fff;">Registration Has Just Opened!!!</h2>
				<p style="color:#fff;">The moment you have been waiting for is here.  VYC5 registration is now open. Be a part of the action and make lasting relationships with other Catholic youth and young adults from across the U.S. Register now and spread the word. Remember to like us on <a style="color:#fff;text-decoration:underline;" href="http://fb.com/vietnameseyouthconvention">Facebook</a>. </p>
				<br><a href="/#/registration"><button class="btn-u btn-u-lg btn-default" style="background-color:#fff;color:#000;" type="button">Begin Registration</button></a>
			</div>
			<!-- home Slider -->
			<div class="carousel slide carousel-v1 margin-bottom-40" id="myCarousel-1">
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="images/posts/2.jpg">
						<div class="carousel-caption">
							<p>VYC 5 registrations are open!</p>
						</div>
					</div>
				</div>
				
				<div class="carousel-arrow">
					<a data-slide="prev" href="#myCarousel-1" class="left carousel-control">
						<i class="fa fa-angle-left"></i>
					</a>
					<a data-slide="next" href="#myCarousel-1" class="right carousel-control">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
			<!-- End home Slider -->
			<div class="row">
				<div class="col-md-12">
					<div class="responsive-video margin-bottom-30">
						<iframe src="http://player.vimeo.com/video/89377160" width="530" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
					</div>
				</div>
			</div>
			
		</div>
		<!-- End Content -->
		<!-- Begin Sidebar -->
		<div class="col-md-3">
			<!-- home Posts -->
			<div class="row">
				<div class="home-posts col-md-12 col-sm-6 margin-bottom-30">
					<h3><a href="#">News Posts</a></h3>
					<span><i class="color-green">By Dat Tran</i> / March 19, 2014</span>
					<div class="home-posts-img">
						<a href="#"><img class="img-responsive" src="images/main/10.jpg" alt=""></a>
						<span class="home-badge home-badge-red">Unify</span>
					</div>
				</div>
				<div class="home-posts col-md-12 col-sm-6 margin-bottom-30">
					<h3><a href="#">Another News posts </a></h3>
					<span><i class="color-green">By Quan Paul Trieu</i> / July 19, 2014</span>
					<div class="home-posts-img">
						<a href="#"><img class="img-responsive" src="images/main/1.jpg" alt=""></a>
						<span class="home-badge home-badge-green">Bootstrap 3</span>
					</div>
				</div>
			</div>
			<!-- End home Posts -->
			<!-- Photo Stream -->
			<div class="headline"><h2>Quick links</h2></div>
			<!-- End Photo Stream -->
			<!-- Latest News -->
			<div class="margin-bottom-40">
				<a href="/#/registration">
				<div class="servive-block servive-block-grey">
					<i class="icon-2x color-light fa fa-bell-o"></i>
					<h2 class="heading-md">Registration</h2>
					<p>Begin Registration now!</p>
				</div>
				</a>
			</div>
			<!-- End Latest News -->
		</div>
		<!-- End Sidebar -->
	</div>
</div>