<div class="container content">
	<div class="row">
		<div class="col-md-12 margin-bottom-30">
			<div class="headline margin-bottom-40"><h2>Color Scheme</h2></div>
			<p class="margin-bottom-30"><span class="text-highlights rounded" style="background-color:#E74C3C;">Red</span> and <span class="text-highlights rounded" style="background-color:#FFCD50;">Yellow</span> shows the Vietnamese culture. The colors <span class="text-highlights rounded" style="background-color:#E27A3F;">Orange</span> and <span class="text-highlights rounded" style="background-color:#39C9AD;">Green</span> also shows energy, playfulness and discovery for the demographic. The main color will be the red, second dominant color will be yellow and the rest are accent colors.</p>
			<div class="color_scheme col-md-2 col-sm-4 col-xs-6 col-md-offset-1" style="background-color:#E74C3C;color: #fff">Red <span class="text-right">#E74C3C</span></div>
			<div class="color_scheme col-md-2 col-sm-4 col-xs-6" style="background-color:#E27A3F; color: #fff">Orange <span class="text-right">#E27A3F</span></div>
			<div class="color_scheme col-md-2 col-sm-4 col-xs-6" style="background-color:#FFCD50">Yellow <span class="text-right">#FFCD50</span></div>
			<div class="color_scheme col-md-2 col-sm-4 col-xs-6" style="background-color:#39C9AD">Green <span class="text-right">#39C9AD</span></div>
			<div class="color_scheme col-md-2 col-sm-4 col-xs-6" style="background-color:#444444;color:#fff;">Dark Grey <span class="text-right">#444444</span></div>
			<div class="col-md-2 col-sm-4"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="headline"><h2>VYC5 Font [Open Sans]</h2></div>
			<p>Open Sans is one of the few fonts that is web safe and works well with both Vietnamese and English.</p>
			<p>You are able to download it for free here: <br><br><a href="http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans"><button class="btn-u btn-u-red" type="button"><i class="fa fa-download"></i> Free Open Sans Font</button></a></p>
			<hr class="devider devider-dashed">
			<span style="font-weight: 300; font-style: italic; font-size: 20px; font-family: 'Open Sans', sans-serif;">Grumpy wizards make toxic brew for the evil Queen and Jack.</span><br>
			<span style="font-weight: 300; font-size: 20px; font-family: 'Open Sans', sans-serif;">Grumpy wizards make toxic brew for the evil Queen and Jack.</span><br>
			<span style="font-weight: 500; font-size: 20px; font-family: 'Open Sans', sans-serif;">Grumpy wizards make toxic brew for the evil Queen and Jack.</span><br>
			<span style="font-weight: 600; font-size: 20px; font-family: 'Open Sans', sans-serif;">Grumpy wizards make toxic brew for the evil Queen and Jack.</span><br>
			<span style="font-weight: 700; font-size: 20px; font-family: 'Open Sans', sans-serif;">Grumpy wizards make toxic brew for the evil Queen and Jack.</span><br>
			<span style="font-weight: 800; font-size: 20px; font-family: 'Open Sans', sans-serif;">Grumpy wizards make toxic brew for the evil Queen and Jack.</span><br>
			<br>
			<span style="font-weight: 300; font-style: italic; font-size: 20px; font-family: 'Open Sans', sans-serif;">Do bạch kim rất quý, sẽ để lắp vô xương.</span><br>
			<span style="font-weight: 300; font-size: 20px; font-family: 'Open Sans', sans-serif;">Do bạch kim rất quý, sẽ để lắp vô xương.</span><br>
			<span style="font-weight: 500; font-size: 20px; font-family: 'Open Sans', sans-serif;">Do bạch kim rất quý, sẽ để lắp vô xương.</span><br>
			<span style="font-weight: 600; font-size: 20px; font-family: 'Open Sans', sans-serif;">Do bạch kim rất quý, sẽ để lắp vô xương.</span><br>
			<span style="font-weight: 700; font-size: 20px; font-family: 'Open Sans', sans-serif;">Do bạch kim rất quý, sẽ để lắp vô xương.</span><br>
			<span style="font-weight: 800; font-size: 20px; font-family: 'Open Sans', sans-serif;">Do bạch kim rất quý, sẽ để lắp vô xương.</span>
		</div>
	</div>
	<div class="row">
		<hr class="devider devider-dashed">
		<div class="col-md-12">
			<div class="headline"><h2>Use of our brand materials</h2></div>
			<h4>In general</h4>
			<p>Please don't use our name, logos, or screenshots ("brand materials") in ways that may be confusing, misleading, or suggest our sponsorship, endorsement, or affiliation. For example, your name and logo should be more prominent than the VYC5/VYC name or logo. And please don't edit or change the VYC5 or VYC logo.</p>
			<br>
			<h4>Advertising, promotional, and sales materials</h4>
			<p>Please check in with us before using our logo on websites, products, packaging, manuals, or for other commercial or product use. It's ok to say in text "proud sponsors of VYC5" or "donors of VYC5" (as long as it's true!).</p>
			<br>
			<h4>Education and instruction (books, guides, publications, and conferences)</h4>
			<p>You can use our brand materials for educational and instructional purposes, but please remember that it shouldn't be confusing or misleading, or suggest our sponsorship. We generally don't allow use of our logos or screenshots on book covers, for example.</p>
			<p>Also remember to include this statement (or something like it) in your printed materials: "(Title) is not affiliated with or otherwise sponsored by VYC."</p>
			<br>
			<h4>Products, websites, names and logos</h4>
			<p>Please don't use our name as a part of your company or service name, website name, trade name, or product name. Don't use our logo or incorporate our logo into yours. Don't use a domain name containing "vyc" or any confusingly similar words.</p>
			<p>If want to use our logo to link to our site, you can use our logo if it meets the rest of these guidelines. For example, "we are going to VYC5! [linked logo or link near logo]."</p>
			<br>
			<h4>Merchandise</h4>
			<p>While we make lots of t-shirts with our logo on them, we don't generally allow third parties to make, sell, or give away anything with our name or logo on it.</p>
			<br>
			<h4>More questions?</h4>
			<p>Feel free to email contact@vyc5.org. It helps if you send a mockup of your intended use so we can be specific in our response. We'll do our best to get back to you ASAP but please give us two weeks to get back to you. (Please note that no response doesn't mean approval and that we're currently only able to respond to inquiries made in English).</p>
			<br>
			<p><i>By using Vietnamese Youth Convention brand materials, you agree to the  VYC branding guidelines, and all VYC rules and policies, as may be updated from time to time. You also acknowledge that VYC is the sole owner of VYC trademarks, promise not to interfere with VYC's rights in them, and acknowledge that goodwill derived from their use accrues only to VYC. VYC may review use of the branding materials at any time and reserves the right to terminate or modify any use.</i></p>
		</div>
	</div>
</div>