<div class="container content">
	<div class="margin-bottom-40 row">
		<div class="col-md-12">
			<div class="heading heading-v1">
				<h2>We’re blessed and thankful that you have decided to join us for VYC5!</h2>
				<h3>The followinginformation will provide individuals, groups, staff, volunteers, guest speakers and media personnel the necessary materials to follow our registration process.</h3>
			</div>
		</div>
	</div>
	<div class="row margin-bottom-40 pricing-light ">
		<div class="col-md-4 col-sm-6">
			<div class="pricing hover-effect ">
				<div class="sticker-left">Early</div>
				<div class="pricing-head">
					<h3>Package A <span>Admission + Meals + Includes Lodging </span></h3>
				</div>
				<div class="pricing-footer">
					<h4><i>$</i>175<i>.00</i> <span> </span></h4>
					<p>You will be directed to EventBrite</p>
					<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Begin Registration</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="pricing hover-effect ">
				<div class="sticker-left">Early</div>
				<div class="pricing-head">
					<h3>Package B <span>Admission + Meals, <i style="text-decoration:underline;">No Lodging</i> </span></h3>
				</div>
				<div class="pricing-footer ">
					<h4><i>$</i>115<i>.00</i> <span> </span></h4>
					<p>You will be directed to EventBrite</p>
					<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-xs"><i class="fa fa-shopping-cart"></i> Begin Registration</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<blockquote class="hero hero-default text-left">
				<h2>Group Leaders</h2>
				<p>Please email <a href="mailto:registration@vyc5.org">registration@vyc5.org</a> for your personalized group name to be added to the registration list.
				</p>
			</blockquote>
			<blockquote class="hero hero-dark text-left">
				<h2>Staff, Volunteers, Guest Speakers and Media Personnel
				</h2>
				<p>We thank you in advance for sharing your time! Please contact <a href="mailto:registration@vyc5.org">registration@vyc5.org</a> for your registration code. Please use this code provided by our team to register accordingly. Code expires March 31, 2015.
				</p>
			</blockquote>
		</div>
	</div>
	<hr class="devider devider-dashed">
	<div class="row margin-bottom-40">
		<div class="col-md-6">
			<div class="headline"><h2>Requirements</h2></div>
			<p>
			Participants ages 16 and older are welcome to attend VYC. If you are 16 or 17 years old at the start of the VYC, you must have a guardian in attendance through the entire duration of the convention.
			</p>
			<p>
			All participants must complete, scan and email a waiver and medical information form in order to complete the registration.
			</p>
			<a href="/assets/VYC_Waiver_2015.pdf"><button class="btn-u btn-u-red" type="button"><i class="fa fa-download"></i> Download Waiver & Medical Form</button></a>
		</div>
		<div class="col-md-6">
			<div class="headline">
				<h2>Making Changes to Registration</h2>
			</div>
			<p>VYC uses a vendor called Eventbrite to process registration. If you need to make any changes to your information after your have already registered, create an account directly with EventBrite (www.eventbrite.com) to update your information. Click on Sign Up and create your account using the same email address you provided during VYC registration. You must enter the same email address that you used during VYC registration in order to make edits.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="headline">
				<h2>Cancellation Policy</h2>
			</div>
			<p>Please read our cancellation policy before withdrawing your participation from VYC. To cover costs incurred from our registration vendor, we will charge a cancellation fee as a percentage of the amount paid. In the event you need to cancel your VYC participation, please email <a href="mailto:registration@vyc5.org">registration@vyc5.org</a> to let us know.
			</p>
			<table class="table table-bordered">
				<tr>
					<th>Date</th>
					<th>Fees Associated</th>
				</tr>
				<tr>
					<td>Nov. 9, 2014 – Feb. 28, 2015</td>
					<td>6% of amount paid (i.e. If you paid $175, you will be charged $10 and refunded $165)</td>
				</tr>
				<tr>
					<td>Mar. 1 – Apr. 30, 2015</td>
					<td>25%</td>
				</tr>
				<tr>
					<td>May 1 – May 31, 2015</td>
					<td>50%</td>
				</tr>
				<tr>
					<td>June 1, 2015 and beyond</td>
					<td>100% (No refunds during this time frame)</td>
				</tr>
				<tr>
					<td colspan="2">(Cancellation must be made by 11:59PM PST of these dates)</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<div class="headline">
				<h2>Can I get my cancellation fee reduced?</h2>
			</div>
			<p>
				Under special circumstances, we may reduce your cancellation fee down to 6% for provable extenuating situations.  These are considered serious and unexpected situations such as car accidents requiring hospitalization, debilitating illness, or death of an immediate family member.  Proof will be requested. The VYC organizing committee reserves the exclusive right to decide which situations are provable extenuating circumstances. We thank you for your understanding.
			</p>
		</div>
		<div class="col-md-6">
			<div class="headline">
				<h2>Have Registration Questions?</h2>
			</div>
			<a href="mailto:registration@vyc5.org"><button class="btn-u btn-u-default" type="button"><i class="fa fa-envelope-o"></i> Please contact us at: registration@vyc5.org</button></a>
		</div>
	</div>
</div>