<div class="container content">
	<div class="row">
		<div class="col-md-12 margin-bottom-40">
			<h1>Dear Prospective Sponsor,</h1>
			<p>The organizing committee, the Vietnamese Martyrs Parish, The Archiocese of Seattle, is proud to announce the arrival of our fifth Vietnamese Youth Convention (VYC V) in 2015. VYC is a historical event that takes place once every three years to empower future generations of leaders. In Christ Alone is convention's theme with the hope of deepening a desire to grow spiritually with Christ and one another through our focus themes: Through Him, With Him, and In Him.
			</p>
			<p>
			VYC allows youth and young adults across the world to gather here, in Washington, to celebrate the love and happiness we share in Christ. The purpose of this convention is to create an environment for the youth to have an opportunity to learn and share how Vietnamese American Catholics live their faith and experience life. VYC attempts to cultivate faith in their spiritual journey through workshops, presentations, and group discussions.
			</p><p>
			In order to provide this rich and fulfilling opportunity to thousands of innovative youth nationwide, we invite you to take the initiative in supporting the community by becoming a prominent sponsor. Your generosity will definitely play a crucial role throughout our three-day convention. History can be made, but not without the support of community businesses, such as yours.</p>
			<h3>Sincerely,</h3>
			<h5>John Tiên Lưu &amp; Eric Cần Trần<br>VYC Co-Chair</h5>
		</div>
	</div>
	<hr class="devider devider-dashed">
	<div class="row">
		<div class="col-md-4">
			<div class="servive-block servive-block-purple">
				<i class="icon-custom icon-lg rounded icon-color-light icon-line icon-badge"></i>
				<h2 class="heading-md">EVENT</h2>
				<p><h2>Vietnamese Youth Convention V</h2>
				<p>Hosted by</p>
					<div style="color:#fff;">The Vietnamese Martyrs Parish</div>
					<div style="color:#fff;">The Archdiocese of Seattle</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="servive-block servive-block-purple">
				<i class="icon-custom icon-lg rounded icon-color-light icon-line icon-badge"></i>
				<h2 class="heading-md">THEME</h2>
				<p><h2>VYC V 2015 : In Christ Alone</h2>
				<p>Through Him - With Him - In Him</p><br><br>
			</div>
		</div>
		<div class="col-md-4">
			<div class="servive-block servive-block-purple">
				<i class="icon-custom icon-lg rounded icon-color-light icon-line icon-badge"></i>
				<h2 class="heading-md">LOCATION</h2>
				<p><h2>Pacific Lutheran University, Tacoma</h2>
				<p>12180 Park Ave S Tacoma, WA 98447</p><br><br>
			</div>
		</div>
	</div>
	<hr class="devider devider-dashed">
	<div class="row">
		<div class="col-md-6">
			<div class="tag-box tag-box-v3">
				<h2>DATES:</h2>
				<ul class="list-unstyled">
					<li><strong>Friday, July 3, 2015 Saturday:</strong> 9:30pm - 11:00pm</li>
					<li><strong>July 4, 2015 Sunday:</strong> 7:00am - 11:30pm</li>
					<li><strong>July 5, 2015:</strong> 7:30am - 3:30pm</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="tag-box tag-box-v3">
				<h2>ATTENDEES:</h2>
				<h4>3,500+ youth nationwide</h4>
				<br>
				<br>
			</div>
		</div>
	</div>
</div>