<div class="image-block">
	<div class="container">
		<div class="company-description">
			<h2>Would you like to be part of something <b>great?</b></h2>
			<h3>Do you have talents, time, and gifts to share with others?</h3>
			<p>VYC5 organizers need people with energy, commitment, and a sense of Catholic Spirit to make next year&rsquo;s event one to remember. God is indeed GOOD!</p>
			<p>The organizers could use your help on one of our 16 committees, and would love to have you with us. We estimate we&rsquo;ll need hundreds of volunteers to make this event a success, and also a strong group of leaders to help organize all the volunteers as well!.</p>
			<div class="margin-bottom-20"></div>
			<ul class="list-inline benefits">
				<li><i class="rounded-x fa fa-home"></i>Hundreds of Volunteers needed</li>
				<li><i class="rounded-x fa fa-calendar"></i>Build strong leadership skills</li>
				<li><i class="rounded-x fa fa-money"></i>Share your gifts with others</li>
			</ul>
			<!-- <button type="button" class="btn-u btn-bordered btn-u-dark"> Learn More</button> -->
		</div>
	</div>
</div>
<div class="parallax-team parallaxBg">
	<div class="container content">
		<i class="center-icon rounded-x fa fa-users"></i>
		<div class="title-box-v2">
			<h2>Meet the Teem</h2>
			<p>These are the leads for the 16 committees</p>
		</div>
		
		<div class="row">
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="/images/team/placeholder.jpg" alt="">
					<div class="inner-team">
						<h3>Bền Ngọc Nguyễn</h3>
						<small class="color-green">Food Lead</small>
						<!--                             <p></p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Food] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/eric.jpg" alt="">
					<div class="inner-team">
						<h3>Cần Eric Trần</h3>
						<small class="color-green">Program Logistics Lead</small>
						<!--  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Program] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/tien.jpg" alt="">
					<div class="inner-team">
						<h3>Tiên John Lưu</h3>
						<small class="color-green">VP of Operations</small>
						<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Program] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/son.jpg" alt="">
					<div class="inner-team">
						<h3>Sơn Trần</h3>
						<small class="color-green">Content Lead</small>
						<!--  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Content] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/mai.jpg" alt="">
					<div class="inner-team">
						<h3>Sr. Mary Thúy-Mai Trần</h3>
						<small class="color-green">Liturgy Lead</small>
						<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Liturgy] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/angela.jpg" alt="">
					<div class="inner-team">
						<h3>Angela Linh-Uyên Vũ</h3>
						<small class="color-green">Registration Lead</small>
						<!--  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Registration] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
		</div>
		<!-- End row 1 -->
		<!-- Start row 2 -->
		<div class="row">
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="/images/team/placeholder.jpg" alt="">
					<div class="inner-team">
						<h3>N/a</h3>
						<small class="color-green">Technical Lead</small>
						<!--                             <p></p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Technical] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/huyen.jpg" alt="">
					<div class="inner-team">
						<h3>Huyền Phượng Trinh</h3>
						<small class="color-green">Environmental Lead</small>
						<!--  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Environmental] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/placeholder.jpg" alt="">
					<div class="inner-team">
						<h3>Thân Quang Đào</h3>
						<small class="color-green">Environmental Lead</small>
						<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Environmental] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/do.jpg" alt="">
					<div class="inner-team">
						<h3>Đô Văn Nguyễn</h3>
						<small class="color-green">Publicity Lead</small>
						<!--  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Publicity] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/dat.jpg" alt="">
					<div class="inner-team">
						<h3>Đạt Trần</h3>
						<small class="color-green">Website Lead</small>
						<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Website] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/placeholder.jpg" alt="">
					<div class="inner-team">
						<h3>Lâm Thanh Nguyễn</h3>
						<small class="color-green">Photo & Video Lead</small>
						<!--  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Photo Video] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
		</div>
		<!-- End row 2 -->
		<!-- Start row 3 -->
		<div class="row">
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="/images/team/linh.jpg" alt="">
					<div class="inner-team">
						<h3>Linh Tạ</h3>
						<small class="color-green">Financial Lead</small>
						<!--                             <p></p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Financial Lead] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/teresa.jpg" alt="">
					<div class="inner-team">
						<h3>Teresa Trang Lê</h3>
						<small class="color-green">Hospitality Lead</small>
						<!--  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Hospitality] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/placeholder.jpg" alt="">
					<div class="inner-team">
						<h3>Hường Thanh Nguyễn</h3>
						<small class="color-green">Entertainment Lead</small>
						<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Entertainment] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/placeholder.jpg" alt="">
					<div class="inner-team">
						<h3>N/a</h3>
						<small class="color-green">Activities Lead</small>
						<!--  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Activities] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/vinh.jpg" alt="">
					<div class="inner-team">
						<h3>Vinh Phan, Pharm.D.</h3>
						<small class="color-green">First Aid Lead</small>
						<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[First Aid] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
			<!-- Team v2 -->
			<div class="col-md-2 col-sm-4">
				<div class="team-v2">
					<img class="img-responsive" src="images/team/placeholder.jpg" alt="">
					<div class="inner-team">
						<h3>Thắng Đức Phạm</h3>
						<small class="color-green">Security Lead</small>
						<!--  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
						<hr>
						<ul class="list-inline team-social">
							<li>
								<a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Email" href="mailto:contact@vyc5.org?subject=[Security] &body=Hi, my name is ...">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
		</div>
		<!-- End row 3 -->
	</div>
</div>