<div class="content container">
	<div class="row">
		<div class="col-md-12">
			<p>
			<span class="dropcap">S</span>eattle – the Emerald City – is surrounded by majestic mountains, beautiful lakes, and fabulous views. Seattle is a vibrant urban city with numerous attractions, within the city itself or a short drive away, including the Space Needle, Pike Place Market, Alki Beach, the Seattle Aquarium, the Museum of Flight, Snoqualmie Falls, and many other beautiful landmarks. Global companies like Amazon, Boeing, Microsoft, and Starbucks call the Seattle area home.
			</p>
			<p>
			We are very excited to be the hosting city for the Vietnamese Youth Convention 5 (VYC5) and invite you to enjoy our Emerald City and all it has to offer. To enhance your VYC5 experience, we have crafted several tour packages exclusively for participants like yourself, to partake before or after the Convention. Take a look around and we look forward to touring Seattle with you!
			</p>
		</div>
		<div class="col-md-12">
			<div class="servive-block servive-block-aqua">
				<i class="icon-custom icon-lg rounded icon-color-light icon-line icon-plane"></i>
				<h2 class="heading-md">When booking your flight</h2>
				<p>Please book your flights to the SEA (SeaTac) airport [Seattle Internation Airport]</p>
			</div>
		</div>
	</div>
</div>