<div class="container content">
<div class="row">
	<div class="col-md-9">
		<div class="row">
				
				<h1 id="intro" class="page-header">I. Giới thiệu Đại Hội Giới Trẻ Việt Nam Kỳ 5 <small>(VYC 5)</small></h1>

				<h3>Thời gian: <small>Ngày 3 đến 5 tháng 7 năm 2015</small></h3>

				<h3>Địa điểm: <small>Đại Học <a href="https://www.google.com/maps/place/Pacific+Lutheran+University/@47.146494,-122.441797,14z/data=!4m2!3m1!1s0x0:0x39f0fa01e9576827" target="_blank">PLU</a> ở Seattle, tiểu bang Washington</small></h3>

				<h3><a href="/#/registration" target="_self">Ghi danh tham dự VYC 5</a></h3>

				<p>
				Đại Hội Giới Trẻ Việt Nam là đại hội đã quy tụ được nhiều bạn trẻ gốc Việt khắp nơi trên toàn quốc Hoa Kỳ và một số quốc gia khác như Úc, Gia Nã Đại, và Pháp, v.v. Đại Hội Giới Trẻ này bây giờ đã được nhiều bạn trẻ biết đến qua một tên gọi ngắn gọn hơn là VYC.</p>

				<p>
				VYC quan tâm đến giới trẻ, vì tuổi trẻ là tuổi của sức sống, đầy nhiệt huyết, là nền tảng và là sức mạnh của cộng đồng. Giới trẻ là những con người trí thức, năng động, nhiệt thành và đầy sức cống hiến. Không những thế, Giới Trẻ Công Giáo còn mang trong mình một sứ mạng cao cả là làm chứng nhân cho Chúa và đem Lời Chúa đến với mọi người.
				</p>

				<p>
				VYC 5 đang đuợc chuẩn bị ráo riết bởi các bạn trẻ trong <a href="http://www.seattlearchdiocese.org/" target="_blank">Tổng Giáo Phận Seattle</a> và được sự hỗ trợ của Đức Tổng Giám Mục J. Peter Sartain của Tổng Giáo Phận Seattle. Vì địa thế của Seattle, VYC 5 kỳ này sẽ thu hút nhiều bạn trẻ từ vùng Tây Bắc Hoa Kỳ và Gia Nã Đại. VYC 5 cũng được hứa hẹn với một phái đoàn trẻ hùng hậu từ Nam California. Đặc biệt nhất của VYC 5 này là lần đầu tiên một vị Giám Mục Việt Nam duy nhất của Úc là <a href="http://www.radioaustralia.net.au/international/2011-06-24/australian-church-ordains-first-vietnameseborn-bishop/214728" target="_blank">ĐGM Vincent Nguyễn Văn Long</a> sẽ dẫn đầu phái đoàn Giới Trẻ ở Úc tham dự đại hội. Chắc chắn VYC 5 sẽ có thêm nhiều tin tức “nóng” trong tương lai.
				</p>
		</div>

		<div class="row">
			<h1 id="init" class="page-header">
				II. Khởi Xướng của Đại Hội Giới Trẻ Việt Nam - VYC <small>(Vietnamese Youth Convention)</small>
			</h1>
			
			<div class="row">
				<div class="col-md-12">
				<img src="/vyc5/images/dhythuan_with_cross.jpg" style="float:left; margin-right: 2em;"/>
					Vào năm 2000, khi <a href="http://www.card-fxthuan.org/his-works/index.php" target="_blank">Đức Cố Hồng Y Phanxicô Xaviê Nguyễn Văn Thuận</a> đến thăm quận Cam ở California và tham dự Đại Hội Năm Thánh 2000 cùng với giới trẻ địa
					phương ở đây, Ngài đã gợi ý và khuyến khích các bạn trẻ ở đây nên thành lập một sinh hoạt có tính cách truyền thống và lưu truyền cho tập thể Giới Trẻ Việt
					Nam Hải Ngoại. Với tâm tình đó VYC đầu tiên đã được khởi xướng vào cuối tuần lễ Độc Lập năm 2003 tại Đại Học UCI (University of California, Irvine). Rất
					tiếc VYC 1 đã không có được sự hiện diện của Đức Cố Hồng Y Thuận để đốt lên ngọn đuốc khai mạc vì Ngài đã qua đời ở Roma vào ngày 16 tháng 9 năm 2002. Tuy
					nhiên tinh thần của Ngài vẫn đuợc giới trẻ cưu mang qua các VYC cho đến ngày hôm nay và sắp đến đây sẽ là VYC 5 tại Seattle thuộc tiểu bang Washington vào
					cuối tuần lễ mừng Ngày Độc Lập, năm 2015. Mỗi VYC đều quy tụ hàng ngàn bạn trẻ đến từ khắp nơi.
					
				
					
						
					
				</div>
			</div>

				<!--.vertical-align-middle
    {
    	display: table;
    	height: 315px;
    }

    .vertical-align-middle span
    {
    	display: table-cell;
    	vertical-align: middle;
    }-->
			
			
		</div>

		<!--section 3-->
		<div class="row">
			<h1 id="prog" class="page-header">
				III. Chương trình đại cương của Đại Hội Giới Trẻ Việt Nam (VYC)
			</h1>

			<p>
				Mỗi VYC có sắc thái riêng để tạo sự mới mẻ cho các bạn trẻ tham dự vào mỗi 3 năm một lần. Tuy nhiên, mỗi VYC đều phải hội đủ những tiêu chuẩn chính dưới
				đây:
			
				<ul>
					<li>
					Đại hội phải xử dụng hai ngôn ngữ - Anh và Việt – trong tất cả mọi chương trình.
					</li>
					<li>
						Workshop: Các buổi hội thảo theo chủ đề phù hợp với giới trẻ được hướng dẫn bởi những nhà thuyết trình (guest speakers) chuyên môn và được ưu chuộng nhất
						bởi giới trẻ. Tùy theo thời cuộc lúc chuẩn bị cho đại hội, các workshop sẽ đặt trọng tâm đến những ưu tư của Người Trẻ Công Giáo Việt Nam Hải Ngoại ở thời
						điểm đó.
					</li>
					<li>
						Thánh lễ, nghi thức Hòa Giải, và chầu Thánh Thể
					</li>
					<li>
						Cầu nguyện và thánh nhạc như Taize, Praise &amp; Worship
					</li>
					<li>
						Văn nghệ, trò chơi, thi đua thể thao, và kết thân
					</li>
					<li>
						Mở rộng cho tất cả giới trẻ Việt Nam từ 16 tuổi trở lên, không phân biệt tôn giáo
					</li>
				</ul>
			</p>	
		</div>

		<!--section 4-->
		<div class="row">
			<h1 id="hist" class="page-header">
				IV. Nhìn Lại
			</h1>

			<p>
				<iframe width="560" height="315" src="//www.youtube.com/embed/2mtFeCk8UDc" frameborder="0" allowfullscreen></iframe>
				<ul>
					<li>
						VYC 1: Năm 2003 tại University of California, Irvine (UCI)
					</li>
					<li>
						VYC 2: Năm 2006 tại University of California, Los Angeles (UCLA)
					</li>
					<li>
						VYC 3: Năm 2009 tại California State University, Long Beach (CSULB)
					</li>
					<li>
						VYC 4: Năm 2012 tại California State University, Fullerton (CSUF)
					</li>
				</ul>
			</p>
			<p>
				Và sắp đến sẽ là…
			</p>		

			<h3><a href="/">VYC 5: Năm 2015 tại PLU ở Tacoma, gần Seattle, tiểu bang Washington</a></h3>

			<iframe src="http://player.vimeo.com/video/89377160" width="560" height="315" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

		</div>
<div class="row">
	    <btst-accordion>
        <btst-pane title="<b>Firstjm</b> Pane" category="{name:'test'}">
            <div>Anim pariatur cliche reprehenderit, enim eiusmod high life 
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw 
                denim aesthetic synth nesciunt you probably haven't heard of 
                them accusamus labore sustainable VHS.</div>
        </btst-pane>
        <btst-pane title="<b>Second</b> Pane">
            <div>Anim pariatur cliche reprehenderit, enim eiusmod high life 
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw 
                denim aesthetic synth nesciunt you probably haven't heard of 
                them accusamus labore sustainable VHS.</div>
        </btst-pane>
        <btst-pane title="<b>Third</b> Pane">
            <div>Anim pariatur cliche reprehenderit, enim eiusmod high life 
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw 
                denim aesthetic synth nesciunt you probably haven't heard of 
                them accusamus labore sustainable VHS.</div>
        </btst-pane>
    </btst-accordion>
</div>
		<!--section 5-->
		<div class="row">
			<h1 id="mem" class="page-header">
				V. Kỷ Niệm: Hình ảnh và các đoạn phim ngắn về VYC
			</h1>

			<h3>
				Những hình ảnh lưu niệm của VYC 4:
			</h3>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" aria-expanded="true" aria-controls="collapseOne" data-target="day1pic">
								Ngày thứ I
								<span class="glyphicon glyphicon-chevron-down"></span>
							</a>
						</h4>
					</div>
					<div id="day1pic" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="560" height="315" flashvars="host=picasaweb.google.com&noautoplay=1&hl=en_US&feat=flashalbum&RGB=0x444444&feed=https://picasaweb.google.com/data/feed/tiny/user/106718673549612952329/albumid/5771511825464788241?alt%3Drss%26authkey%3DGv1sRgCLnI2Me7mayxdg" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
							<a href="https://picasaweb.google.com/106718673549612952329/VYC4DAY1?authkey=Gv1sRgCLnI2Me7mayxdg" target="_blank" class="glyphicon glyphicon-link"></a>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="/#viet/#day2pic" aria-expanded="false" aria-controls="collapseOne">
								<span class="glyphicon glyphicon-chevron-down"></span>
								Ngày thứ II
							</a>
						</h4>
				    </div>
				    <div id="day2pic" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="560" height="315" flashvars="host=picasaweb.google.com&noautoplay=1&hl=en_US&feat=flashalbum&RGB=0x444444&feed=https://picasaweb.google.com/data/feed/tiny/user/106718673549612952329/albumid/5771513433345920193?alt%3Drss%26authkey%3DGv1sRgCP6XoJC-t9OfqAE" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
							<a href="https://picasaweb.google.com/106718673549612952329/VYC4DAY2?authkey=Gv1sRgCP6XoJC-t9OfqAE" target="_blank" class="glyphicon glyphicon-link"></a>
						</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="/#viet/#day3pic" aria-expanded="false" aria-controls="collapseOne">
					          <span class="glyphicon glyphicon-chevron-down"></span>
					          Ngày thứ III
					        </a>
						</h4>
				    </div>
				    <div id="day3pic" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="560" height="315" flashvars="host=picasaweb.google.com&noautoplay=1&hl=en_US&feat=flashalbum&RGB=0x444444&feed=https://picasaweb.google.com/data/feed/tiny/user/106718673549612952329/albumid/5771510232999521329?alt%3Drss%26authkey%3DGv1sRgCMeykOHO4LSS7wE" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
							<a href="https://picasaweb.google.com/106718673549612952329/VYC4DAY3?authkey=Gv1sRgCMeykOHO4LSS7wE" target="_blank" class="glyphicon glyphicon-link"></a>
						</div>
				    </div>
				</div>
	    	</div> <!--end of collapse-->

			<h3>
				Xin mời quý vị và các bạn vào xem những đoạn phim ngắn dưới đây để thấy sinh hoạt và tinh thần của Giới Trẻ qua 3 ngày đại hội:
			</h3>
			
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="/#viet/#interview1" aria-expanded="false" aria-controls="collapseOne">
			          			<span class="glyphicon glyphicon-chevron-down"></span>
			          			Phỏng vấn ĐGM Mai Thanh Lương và Lm. Trần Cao Thượng, tuyên úy VYC4
			        		</a>
						</h4>
			    	</div>
				    <div id="interview1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
				        	<iframe width="560" height="315" src="//www.youtube.com/embed/IFEyeB02mzg?list=PLEC4E1C4A515B3A7B" frameborder="0" allowfullscreen></iframe>
						</div>
				    </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="/#viet/#interview2" aria-expanded="false" aria-controls="collapseOne">
					          <span class="glyphicon glyphicon-chevron-down"></span>
					          Phỏng vấn anh Nguyễn Mạnh Chí, trưởng ban tổ chức của VYC 1, 2, 3, 4 và chị Nguyễn Phương Lyna phụ trách ban ghi danh của VYC 1, 2, 3, 4
					        </a>
						</h4>
			    	</div>
				    <div id="interview2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				    	<div class="panel-body">
				        	<iframe width="560" height="315" src="//www.youtube.com/embed/hDAUEo5XFEs" frameborder="0" allowfullscreen></iframe>
				    	</div>
				    </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
			    		<h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="/#viet/#interview3" aria-expanded="false" aria-controls="collapseOne">
					          <span class="glyphicon glyphicon-chevron-down"></span>
					          Phỏng vấn Lm. Đồng Minh Quang, Tuyên Úy Giới Trẻ Hoa Kỳ, và Lm. Nguyễn Thanh Châu, Chủ Tịch Hội Đồng Linh Mục Miền Đông Nam Hoa Kỳ
					        </a>
			    		</h4>
			    	</div>
			    	<div id="interview3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			    		<div class="panel-body">
			        		<iframe width="560" height="315" src="//www.youtube.com/embed/AORq3T1-nDA" frameborder="0" allowfullscreen></iframe>
			    		</div>
		    		</div>
				</div>
				<div class="panel panel-default">
			    	<div class="panel-heading" role="tab" id="headingOne">
			    		<h4 class="panel-title">
			        		<a data-toggle="collapse" data-parent="#accordion" href="/#viet/#interview4" aria-expanded="false" aria-controls="collapseOne">
			          			<span class="glyphicon glyphicon-chevron-down"></span>
			          			Lễ Bế Mạc VYC 4 và sự nhắn nhủ của Lm. Nguyễn Bá Thông
			        		</a>
			      		</h4>
		    		</div>
			    	<div id="interview4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			    		<div class="panel-body">
			    			<iframe width="560" height="315" src="//www.youtube.com/embed/_dIhrT8V00Q" frameborder="0" allowfullscreen></iframe>
			      		</div>
			    	</div>
				</div>
				<div class="panel panel-default">
			    	<div class="panel-heading" role="tab" id="headingOne">
					    <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="/#viet/#interview5" aria-expanded="false" aria-controls="collapseOne">
					        	<span class="glyphicon glyphicon-chevron-down"></span>
					        	Kỷ Niệm ghi nhận bởi chính các em tham dự VYC
					        </a>
			    		</h4>
			    	</div>
			    	<div id="interview5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				      	<div class="panel-body">
				    		<iframe width="560" height="315" src="//www.youtube.com/embed/KAdCJ36zCMw" frameborder="0" allowfullscreen></iframe>
				      	</div>
				    </div>
				</div>
				<div class="panel panel-default">
			    	<div class="panel-heading" role="tab" id="headingOne">
			    		<h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="/#viet/#interview6" aria-expanded="false" aria-controls="collapseOne">
					          <span class="glyphicon glyphicon-chevron-down"></span>
					          Phỏng Vấn Các Bạn Trẻ và Tu Sĩ Tham Dự Đại Hội Giới Trẻ VN VYC4
					        </a>
			      		</h4>
			    	</div>
			    	<div id="interview6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			    		<div class="panel-body">
			    			<iframe width="560" height="315" src="//www.youtube.com/embed/ur2H7EcADLc" frameborder="0" allowfullscreen></iframe>
			      		</div>
			    	</div>
				</div>
			</div><!--end collapse-->
		
		</div>

		<!--section 5-->
		<div class="row">
			<h1 id="sponsor" class="page-header">V. Bảo Trợ</h1>
			<p>
				Để thực hiện được 3 ngày đại hội VYC, ngân quỹ của mỗi VYC đã có lần vượt trên $200,000. Để thu hút được sự tham dự của các bạn trẻ thì VYC phải có một chương trình xúc tiến và một lệ phí thật thấp. Do đó VYC không thể diễn ra nếu không có được sự hỗ trợ của các Mạnh Thường Quân. Mọi đóng góp dù ít hay nhiều đều được trân quý bởi Ban Tổ Chức của VYC5. Xin liên lạc trực tiếp với BanTổ Chức qua các hình thức dưới đây:
			</p>
			
			<p>
				<strong>Điện thoại</strong>: (206) 799-6381<br />
				<strong>Email</strong>: <a href="mailto:caneric.tran@vyc5.org">caneric.tran@vyc5.org</a><br />
				<strong>Địa chỉ</strong>: 6841 S 180th St, 
	            Tukwila WA 98188
	        </p>

	        <p>
				Chi phiếu xin viết cho “VYC 5”
			</p>

			<p>				
				Xin chân thành cám ơn sự hỗ trợ của quý vị.
			</p>
		</div>

		<!--section 6-->
		<div class="row">
			<h1 id="contact" class="page-header">VI. Liên lạc</h1>

			<p>
				Nếu thắc mắc hoặc muốn tìm hiểu thêm về VYC 5, xin vào trang nhà <a href="/">www.vyc5.org</a>
			</p>
			<p>
				Quý vị cũng có thể liên lạc với trực tiếp với đồng Chủ Tịch của Ban Tổ Chức VYC 5 là:
				<ul>
					<li><strong>Trần Eric Cần</strong>: <br />(206) 799-6381 <br />
						<a href="mailto:caneric.tran@vyc5.org">caneric.tran@vyc5.org</a></li>
					<li><strong>Lưu Công Tiên (John)</strong>: <br />(253) 394-6323 </br /><a href="mailto:tienjohn.luu@vyc5.org">tienjohn.luu@vyc5.org</a></li>
			</p>
		</div>
	</div>

	<div class="col-xs-3" id="myScrollspy">
		<div id="navSideBar" class="affix">
			<ul class="nav nav-tabs nav-stacked">
		  		<li>
					<a href="/#viet/#intro">I. Giới thiệu Đại Hội Giới Trẻ Việt Nam Kỳ 5 (VYC 5)</a>
				</li>
				<li>
					<a href="/#viet/#init">II. Khởi Xướng của Đại Hội Giới Trẻ Việt Nam - VYC</a>
				</li>
				<li>
					 <a href="/#viet/#prog">III. Chương trình đại cương của Đại Hội Giới Trẻ Việt Nam (VYC)</a>
				</li>
				<li>
					 <a href="/#viet/#hist">IV. Nhìn Lại</a>
				</li>
				<li>
					<a href="/#viet/#mem">V. Kỷ Niệm: Hình ảnh và các đoạn phim ngắn về VYC</a>
				</li>
				<li>
					<a href="/#viet/#sponsor">VI. Bảo Trợ</a>
				</li>
				<li>
					<a href="/#viet/#contact">VII. Liên lạc</a>
				</li>
		  	</ul>
		</div>
 	</div><!--end nav bar box-->
</div><!--end container-->

<script type="text/javascript">
 // $('#menu').affix({
 //   offset: {
 //     top: 200, //menu will affix top position when scroll is at/pass 200px mark
 //     bottom: function () {
 //       return (this.bottom = $('.footer').outerHeight(true))
 //     }
 //   }
 // });
$(document).ready(function(){
	var $window = $(window);
	var $doc = $(document.body);
	$doc.scrollspy({target: '#navSideBar'});



	// $('#navSideBar').affix({
	// 	offset: {
	// 		top: 30

	// 	}
	// });
});
//var b=a(window),c=a(document.body);c.scrollspy({target:".bs-docs-sidebar"}var b=a(window),c=a(document.body);c.scrollspy({target:".bs-docs-sidebar"}
	//var b=a(".bs-docs-sidebar");b.affix({offset:{top:function(){var c=b.offset().top,d=parseInt(b.children(0).css("margin-top"),10),e=a(".bs-docs-nav").height();return this.top=c-e-d},bottom:function(){return this.bottom=a(".bs-docs-footer").outerHeight(!0)}}})},
</script>

<style type="text/css">
    /* Custom Styles */
    ul.nav-tabs{
        border: 0;
        margin-top: 20px;
        
    }
    ul.nav-tabs li{
        margin: 0;
        
    }
    ul.nav-tabs li:last-child{
        border-bottom: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        
    }
    ul.nav-tabs li a:active {
    	background-color: green;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
    .panel-title span {
    	float: right;
    	padding-top: .25em;
    }
</style>