<div class="container content">
	<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
		<div class="col-md-9">
			<div class="bs-docs-section">
				<h1 id="intro" class="page-header">I. Giới thiệu Đại Hội Giới Trẻ Việt Nam Kỳ 5 <small>(VYC 5)</small></h1>

				<h3>Thời gian: <small>Ngày 3 đến 5 tháng 7 năm 2015</small></h3>

				<h3>Địa điểm: <small>Đại Học <a href="https://www.google.com/maps/place/Pacific+Lutheran+University/@47.146494,-122.441797,14z/data=!4m2!3m1!1s0x0:0x39f0fa01e9576827" target="_blank">PLU</a> ở Seattle, tiểu bang Washington</small></h3>

				<h3><a href="/#/registration" target="_self">Ghi danh tham dự VYC 5</a></h3>

				<p>
				Đại Hội Giới Trẻ Việt Nam là đại hội đã quy tụ được nhiều bạn trẻ gốc Việt khắp nơi trên toàn quốc Hoa Kỳ và một số quốc gia khác như Úc, Gia Nã Đại, và Pháp, v.v. Đại Hội Giới Trẻ này bây giờ đã được nhiều bạn trẻ biết đến qua một tên gọi ngắn gọn hơn là VYC.</p>

				<p>
				VYC quan tâm đến giới trẻ, vì tuổi trẻ là tuổi của sức sống, đầy nhiệt huyết, là nền tảng và là sức mạnh của cộng đồng. Giới trẻ là những con người trí thức, năng động, nhiệt thành và đầy sức cống hiến. Không những thế, Giới Trẻ Công Giáo còn mang trong mình một sứ mạng cao cả là làm chứng nhân cho Chúa và đem Lời Chúa đến với mọi người.
				</p>

				<p>
				VYC 5 đang đuợc chuẩn bị ráo riết bởi các bạn trẻ trong <a href="http://www.seattlearchdiocese.org/" target="_blank">Tổng Giáo Phận Seattle</a> và được sự hỗ trợ của Đức Tổng Giám Mục J. Peter Sartain của Tổng Giáo Phận Seattle. Vì địa thế của Seattle, VYC 5 kỳ này sẽ thu hút nhiều bạn trẻ từ vùng Tây Bắc Hoa Kỳ và Gia Nã Đại. VYC 5 cũng được hứa hẹn với một phái đoàn trẻ hùng hậu từ Nam California. Đặc biệt nhất của VYC 5 này là lần đầu tiên một vị Giám Mục Việt Nam duy nhất của Úc là <a href="http://www.radioaustralia.net.au/international/2011-06-24/australian-church-ordains-first-vietnameseborn-bishop/214728" target="_blank">ĐGM Vincent Nguyễn Văn Long</a> sẽ dẫn đầu phái đoàn Giới Trẻ ở Úc tham dự đại hội. Chắc chắn VYC 5 sẽ có thêm nhiều tin tức “nóng” trong tương lai.
				</p>
		</div>
		<div class="bs-docs-section">
			<h1 id="init">
				II. Khởi Xướng của Đại Hội Giới Trẻ Việt Nam - VYC
			</h1>
			<h3>(VYC – Vietnamese Youth Convention)</h3>

			<p>
				Vào năm 2000, khi <a href="http://www.card-fxthuan.org/his-works/index.php" target="_blank">Đức Cố Hồng Y Phanxicô Xaviê Nguyễn Văn Thuận</a> đến thăm quận Cam ở California và tham dự Đại Hội Năm Thánh 2000 cùng với giới trẻ địa
				phương ở đây, Ngài đã gợi ý và khuyến khích các bạn trẻ ở đây nên thành lập một sinh hoạt có tính cách truyền thống và lưu truyền cho tập thể Giới Trẻ Việt
				Nam Hải Ngoại. Với tâm tình đó VYC đầu tiên đã được khởi xướng vào cuối tuần lễ Độc Lập năm 2003 tại Đại Học UCI (University of California, Irvine). Rất
				tiếc VYC 1 đã không có được sự hiện diện của Đức Cố Hồng Y Thuận để đốt lên ngọn đuốc khai mạc vì Ngài đã qua đời ở Roma vào ngày 16 tháng 9 năm 2002. Tuy
				nhiên tinh thần của Ngài vẫn đuợc giới trẻ cưu mang qua các VYC cho đến ngày hôm nay và sắp đến đây sẽ là VYC 5 tại Seattle thuộc tiểu bang Washington vào
				cuối tuần lễ mừng Ngày Độc Lập, năm 2015. Mỗi VYC đều quy tụ hàng ngàn bạn trẻ đến từ khắp nơi.
			</p>
		</div>
		<div class="bs-docs-section">
			<h1 id="prog">
				III. Chương trình đại cương của Đại Hội Giới Trẻ Việt Nam (VYC)
			</h1>

			<p>
			Mỗi VYC có sắc thái riêng để tạo sự mới mẻ cho các bạn trẻ tham dự vào mỗi 3 năm một lần. Tuy nhiên, mỗi VYC đều phải hội đủ những tiêu chuẩn chính dưới
			đây:
			
			<ul>
				<li>
				Đại hội phải xử dụng hai ngôn ngữ - Anh và Việt – trong tất cả mọi chương trình.
				</li>
			<li>
			Workshop: Các buổi hội thảo theo chủ đề phù hợp với giới trẻ được hướng dẫn bởi những nhà thuyết trình (guest speakers) chuyên môn và được ưu chuộng nhất
			bởi giới trẻ. Tùy theo thời cuộc lúc chuẩn bị cho đại hội, các workshop sẽ đặt trọng tâm đến những ưu tư của Người Trẻ Công Giáo Việt Nam Hải Ngoại ở thời
			điểm đó.
			</li>
			<li>
			Thánh lễ, nghi thức Hòa Giải, và chầu Thánh Thể
			</li>
			<li>
			Cầu nguyện và thánh nhạc như Taize, Praise &amp; Worship
			</li>
			<li>
			Văn nghệ, trò chơi, thi đua thể thao, và kết thân
			</li>
			<li>
			Mở rộng cho tất cả giới trẻ Việt Nam từ 16 tuổi trở lên, không phân biệt tôn giáo
			</li>
			</ul>
			</p>
		</div>
				<div class="bs-docs-section">
			<h1 id="hist">
				IV. Nhìn Lại
			</h1>
<p>
	<iframe width="560" height="315" src="//www.youtube.com/embed/2mtFeCk8UDc" frameborder="0" allowfullscreen></iframe>
	<ul>
		<li>
	VYC 1: Năm 2003 tại University of California, Irvine (UCI)
			</li>
			<li>
			VYC 2: Năm 2006 tại University of California, Los Angeles (UCLA)
			</li>
			<li>
			VYC 3: Năm 2009 tại California State University, Long Beach (CSULB)
			</li>
			<li>
			VYC 4: Năm 2012 tại California State University, Fullerton (CSUF)
			</li>
			</p>
			<p>
			Và sắp đến sẽ là…
	</p>		
			<h3><a href="/">VYC 5: Năm 2015 tại PLU ở Tacoma, gần Seattle, tiểu bang Washington</a></h3>

			<iframe src="http://player.vimeo.com/video/89377160" width="560" height="315" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

	</div>
	<div class="bs-docs-section">
		<h1 id="mem">
			V. Kỷ Niệm: Hình ảnh và các đoạn phim ngắn về VYC
		</h1>
		<h3>
Những hình ảnh lưu niệm của VYC 4:
</h3>

<h5>
Ngày thứ I</h5>
		<div style="font-family:arial,sans-serif;font-size:13px;"><a href="https://picasaweb.google.com/106718673549612952329/VYC4DAY1?authkey=Gv1sRgCLnI2Me7mayxdg" target="_blank"><embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="560" height="315" flashvars="host=picasaweb.google.com&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https://picasaweb.google.com/data/feed/tiny/user/106718673549612952329/albumid/5771511825464788241?alt%3Drss%26authkey%3DGv1sRgCLnI2Me7mayxdg" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></a></div>

		<h5>Ngày thứ II</h5>
		<div style="font-family:arial,sans-serif;font-size:13px;"><a href="https://picasaweb.google.com/106718673549612952329/VYC4DAY2?authkey=Gv1sRgCP6XoJC-t9OfqAE" target="_blank"><embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="560" height="315" flashvars="host=picasaweb.google.com&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https://picasaweb.google.com/data/feed/tiny/user/106718673549612952329/albumid/5771513433345920193?alt%3Drss%26authkey%3DGv1sRgCP6XoJC-t9OfqAE" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></a></div>

		<h5>Ngày thứ III</h5>
		<div style="font-family:arial,sans-serif;font-size:13px;"><a href="https://picasaweb.google.com/106718673549612952329/VYC4DAY3?authkey=Gv1sRgCMeykOHO4LSS7wE" target="_blank"><embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="560" height="315" flashvars="host=picasaweb.google.com&captions=1&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https://picasaweb.google.com/data/feed/tiny/user/106718673549612952329/albumid/5771510232999521329?alt%3Drss%26authkey%3DGv1sRgCMeykOHO4LSS7wE" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></a></div>

		<p>
			Xin mời quý vị và các bạn vào xem những đoạn phim ngắn dưới đây để thấy sinh hoạt và tinh thần của Giới Trẻ qua 3 ngày đại hội:


Phỏng vấn ĐGM Mai Thanh Lương và Lm. Trần Cao Thượng, tuyên úy VYC4 https://www.youtube.com/watch?v=NdlXMCWVc8Y&index=2&list=PLEC4E1C4A515B3A7B

Phỏng vấn anh Nguyễn Mạnh Chí, trưởng ban tổ chức của VYC 1, 2, 3, 4 và chị Nguyễn Phương Lyna phụ trách ban ghi danh của VYC 1, 2, 3, 4 http://www.youtube.com/watch?v=hDAUEo5XFEs

Phỏng vấn Lm. Đồng Minh Quang, Tuyên Úy Giới Trẻ Hoa Kỳ, và Lm. Nguyễn Thanh Châu, Chủ Tịch Hội Đồng Linh Mục Miền Đông Nam Hoa Kỳ https://www.youtube.com/watch?v=AORq3T1-nDA

Lễ Bế Mạc VYC 4 và sự nhắn nhủ của Lm. Nguyễn Bá Thông https://www.youtube.com/watch?v=_dIhrT8V00Q

Kỷ Niệm ghi nhận bởi chính các em tham dự VYC http://www.youtube.com/watch?v=KAdCJ36zCMw


Phỏng Vấn Các Bạn Trẻ và Tu Sĩ Tham Dự Đại Hội Giới Trẻ VN VYC4 http://www.youtube.com/watch?v=ur2H7EcADLc
</p>
	</div>
	<div class="col-md-3">
		<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" role="complementary">
		  	<ol class="nav bs-docs-sidenav">
		  		<li>
					<a href="#intro">Giới thiệu Đại Hội Giới Trẻ Việt Nam Kỳ 5 (VYC 5)</a>
				</li>
				<li>
					<a href="#init">Khởi Xướng của Đại Hội Giới Trẻ Việt Nam - VYC</a>
				</li>
				<li>
					 Chương trình đại cương của Đại Hội Giới Trẻ Việt Nam (VYC)
				</li>
				<li>
					 Nhìn Lại
				</li>
				<li>
					Kỷ Niệm: Hình ảnh và các đoạn phim ngắn về VYC
				</li>
				<li>
					Bảo Trợ
				</li>
				<li>
					Liên lạc
				</li>
		  	</ol>
	 	</div>
	</div>

</div>
</div>
<!--<script type="text/javascript">
$('#myAffix').affix({
  offset: {
    top: 100,
    bottom: function () {
      return (this.bottom = $('.footer').outerHeight(true))
    }
  }
})
</script>-->