<div class="container content">
	<div class="row">
		<div class="col-md-12">
			<p>
			<strong></strong>
			<br/>
			</p>
			<p>
			<strong>I. Giới thiệu Đại Hội Giới Trẻ Việt Nam Kỳ 5 </strong>
			(VYC 5)
			</p>
			<p>
			Thời gian: Ngày 3 đến 5 tháng 7 năm 2015
			</p>
			<p>
			Địa điểm: Đại Học PLU ở Seattle, tiểu bang Washington <em>(link to map)</em>
			</p>
			<p>
			Ghi danh tham dự VYC 5 <em>(link to Registration page)</em>
			</p>
			<p>
			<strong><em></em></strong>
			<br/>
			</p>
			<p>
			Đại Hội Giới Trẻ Việt Nam là đại hội đã quy tụ được nhiều bạn trẻ gốc Việt khắp nơi trên toàn quốc Hoa Kỳ và một số quốc gia khác như Úc, Gia Nã Đại, và
			Pháp, v.v. Đại Hội Giới Trẻ này bây giờ đã được nhiều bạn trẻ biết đến qua một tên gọi ngắn gọn hơn là <strong>VYC</strong>.
			</p>
			<p>
			VYC quan tâm đến giới trẻ, vì tuổi trẻ là tuổi của sức sống, đầy nhiệt huyết, là nền tảng và là sức mạnh của cộng đồng. Giới trẻ là những con người trí
			thức, năng động, nhiệt thành và đầy sức cống hiến. Không những thế, Giới Trẻ Công Giáo còn mang trong mình một sứ mạng cao cả là làm chứng nhân cho Chúa và
			đem Lời Chúa đến với mọi người.
			</p>
			<p>
			VYC 5 đang đuợc chuẩn bị ráo riết bởi các bạn trẻ trong Tổng Giáo Phận Seattle và được sự hỗ trợ của Đức Tổng Giám Mục J. Peter Sartain của Tổng Giáo Phận
			Seattle. Vì địa thế của Seattle, VYC 5 kỳ này sẽ thu hút nhiều bạn trẻ từ vùng Tây Bắc Hoa Kỳ và Gia Nã Đại. VYC 5 cũng được hứa hẹn với một phái đoàn trẻ
			hùng hậu từ Nam California. Đặc biệt nhất của VYC 5 này là lần đầu tiên một vị Giám Mục Việt Nam duy nhất của Úc là ĐGM Vincent Nguyễn Văn Long sẽ dẫn đầu
			phái đoàn Giới Trẻ ở Úc tham dự đại hội. Chắc chắn VYC 5 sẽ có thêm nhiều tin tức “nóng” trong tương lai.
			</p>
			<p>
			<em>Links: </em>
			</p>
			<p>
			<em>Archbishop J. Peter Sartain </em>
			<a href="http://www.seattlearchdiocese.org/"><em>http://www.seattlearchdiocese.org/</em></a>
			</p>
			<p>
			<em></em>
			<br/>
			</p>
			<p>
			ĐGM Vincent Nguyễn Văn Long
			</p>
			<p>
			<a href="http://www.radioaustralia.net.au/international/2011-06-24/australian-church-ordains-first-vietnameseborn-bishop/214728">
				<em>http://www.radioaustralia.net.au/international/2011-06-24/australian-church-ordains-first-vietnameseborn-bishop/214728</em>
			</a>
			</p>
			<p>
			<em></em>
			<br/>
			</p>
			<p>
			<strong>II. Khởi Xướng của Đại Hội Giới Trẻ Việt Nam - VYC</strong>
			</p>
			<p>
			(VYC – Vietnamese Youth Convention)
			</p>
			<p>
			Vào năm 2000, khi Đức Cố Hồng Y Phanxicô Xaviê Nguyễn Văn Thuận đến thăm quận Cam ở California và tham dự Đại Hội Năm Thánh 2000 cùng với giới trẻ địa
			phương ở đây, Ngài đã gợi ý và khuyến khích các bạn trẻ ở đây nên thành lập một sinh hoạt có tính cách truyền thống và lưu truyền cho tập thể Giới Trẻ Việt
			Nam Hải Ngoại. Với tâm tình đó VYC đầu tiên đã được khởi xướng vào cuối tuần lễ Độc Lập năm 2003 tại Đại Học UCI (University of California, Irvine). Rất
			tiếc VYC 1 đã không có được sự hiện diện của Đức Cố Hồng Y Thuận để đốt lên ngọn đuốc khai mạc vì Ngài đã qua đời ở Roma vào ngày 16 tháng 9 năm 2002. Tuy
			nhiên tinh thần của Ngài vẫn đuợc giới trẻ cưu mang qua các VYC cho đến ngày hôm nay và sắp đến đây sẽ là VYC 5 tại Seattle thuộc tiểu bang Washington vào
			cuối tuần lễ mừng Ngày Độc Lập, năm 2015. Mỗi VYC đều quy tụ hàng ngàn bạn trẻ đến từ khắp nơi.
			</p>
			<p>
			<em>Link: Hồng Y Thuận </em>
			<a href="http://www.card-fxthuan.org/his-works/index.php"><em>http://www.card-fxthuan.org/his-works/index.php</em></a>
			</p>
			<p>
			<em> </em>
			</p>
			<p>
			<strong></strong>
			<br/>
			</p>
			<p>
			<strong>III. Chương trình đại cương của Đại Hội Giới Trẻ Việt Nam (VYC)</strong>
			</p>
			<p>
			Mỗi VYC có sắc thái riêng để tạo sự mới mẻ cho các bạn trẻ tham dự vào mỗi 3 năm một lần. Tuy nhiên, mỗi VYC đều phải hội đủ những tiêu chuẩn chính dưới
			đây:
			</p>
			<p>
			Đại hội phải xử dụng hai ngôn ngữ - Anh và Việt – trong tất cả mọi chương trình.
			</p>
			<p>
			Workshop: Các buổi hội thảo theo chủ đề phù hợp với giới trẻ được hướng dẫn bởi những nhà thuyết trình (guest speakers) chuyên môn và được ưu chuộng nhất
			bởi giới trẻ. Tùy theo thời cuộc lúc chuẩn bị cho đại hội, các workshop sẽ đặt trọng tâm đến những ưu tư của Người Trẻ Công Giáo Việt Nam Hải Ngoại ở thời
			điểm đó.
			</p>
			<p>
			Thánh lễ, nghi thức Hòa Giải, và chầu Thánh Thể
			</p>
			<p>
			Cầu nguyện và thánh nhạc như Taize, Praise &amp; Worship
			</p>
			<p>
			Văn nghệ, trò chơi, thi đua thể thao, và kết thân
			</p>
			<p>
			Mở rộng cho tất cả giới trẻ Việt Nam từ 16 tuổi trở lên, không phân biệt tôn giáo
			</p>
			<p>
			<strong>IV. Nhìn Lại: </strong>
			<a href="https://www.youtube.com/watch?v=2mtfeck8udc&amp;feature=g-u-u"><em>https://www.youtube.com/watch?v=2mtFeCk8UDc&amp;feature=g-u-u</em></a>
			</p>
			<p>
			VYC 1: Năm 2003 tại University of California, Irvine (UCI)
			</p>
			<p>
			VYC 2: Năm 2006 tại University of California, Los Angeles (UCLA)
			</p>
			<p>
			VYC 3: Năm 2009 tại California State University, Long Beach (CSULB)
			</p>
			<p>
			VYC 4: Năm 2012 tại California State University, Fullerton (CSUF)
			</p>
			<p>
			Và sắp đến sẽ là…
			</p>
			<p>
			VYC 5: Năm 2015 tại PLU ở Tacoma, gần Seattle, tiểu bang Washington
			</p>
			<p>
			<a href="http://www.vyc5.org"><em>www.vyc5.org</em></a>
			</p>
			<p>
			<em></em>
			<br/>
			</p>
			<p>
			<strong>V. Kỷ Niệm: Hình ảnh và các đoạn phim ngắn về VYC</strong>
			</p>
			<p>
			<strong><em>Những hình ảnh lưu niệm của VYC 4:</em></strong>
			</p>
			<p>
			Ngày thứ I
			</p>
			<p>
			<a href="https://picasaweb.google.com/106718673549612952329/vyc4day1?authkey=gv1srgclni2me7mayxdg">
				<em>https://picasaweb.google.com/106718673549612952329/VYC4DAY1?authkey=Gv1sRgCLnI2Me7mayxdg#</em>
			</a>
			</p>
			<p>
			Ngày thứ II
			</p>
			<p>
			<a href="https://picasaweb.google.com/106718673549612952329/vyc4day2?authkey=gv1srgcp6xojc-t9ofqae">
				<em>https://picasaweb.google.com/106718673549612952329/VYC4DAY2?authkey=Gv1sRgCP6XoJC-t9OfqAE#</em>
			</a>
			</p>
			<p>
			Ngày thứ III
			</p>
			<p>
			<a href="https://picasaweb.google.com/106718673549612952329/vyc4day3?authkey=gv1srgcmeykoho4lss7we">
				<em>https://picasaweb.google.com/106718673549612952329/VYC4DAY3?authkey=Gv1sRgCMeykOHO4LSS7wE#</em>
			</a>
			</p>
			<p>
			<strong><em>Xin mời quý vị và các bạn vào xem những đoạn phim ngắn dưới đây để thấy sinh hoạt và tinh thần của Giới Trẻ qua 3 ngày đại hội:</em></strong>
			</p>
			<p>
			<em></em>
			<br/>
			</p>
			<p>
			Phỏng vấn ĐGM Mai Thanh Lương và Lm. Trần Cao Thượng, tuyên úy VYC4
			<a href="https://www.youtube.com/watch?v=ndlxmcwvc8y&amp;index=2&amp;list=plec4e1c4a515b3a7b">
				<em>https://www.youtube.com/watch?v=NdlXMCWVc8Y&amp;index=2&amp;list=PLEC4E1C4A515B3A7B</em>
			</a>
			</p>
			<p>
			Phỏng vấn anh Nguyễn Mạnh Chí, trưởng ban tổ chức của VYC 1, 2, 3, 4 và chị Nguyễn Phương Lyna phụ trách ban ghi danh của VYC 1, 2, 3, 4    <a href="http://www.youtube.com/watch?v=hdaueo5xfes"><em>http://www.youtube.com/watch?v=hDAUEo5XFEs</em></a>
			</p>
			<p>
			Phỏng vấn Lm. Đồng Minh Quang, Tuyên Úy Giới Trẻ Hoa Kỳ, và Lm. Nguyễn Thanh Châu, Chủ Tịch Hội Đồng Linh Mục Miền Đông Nam Hoa Kỳ    <a href="https://www.youtube.com/watch?v=aorq3t1-nda"><em>https://www.youtube.com/watch?v=AORq3T1-nDA</em></a>
			</p>
			<p>
			Lễ Bế Mạc VYC 4 và sự nhắn nhủ của Lm. Nguyễn Bá Thông    <a href="https://www.youtube.com/watch?v=_dihrt8v00q"><em>https://www.youtube.com/watch?v=_dIhrT8V00Q</em></a>
			</p>
			<p>
			Kỷ Niệm ghi nhận bởi chính các em tham dự VYC <a href="http://www.youtube.com/watch?v=kadcj36zcmw"><em>http://www.youtube.com/watch?v=KAdCJ36zCMw</em></a>
			</p>
			<p>
			<em></em>
			<br/>
			</p>
			<p>
			Phỏng Vấn Các Bạn Trẻ và Tu Sĩ Tham Dự Đại Hội Giới Trẻ VN VYC4<em> </em>    <a href="http://www.youtube.com/watch?v=ur2h7ecadlc"><em>http://www.youtube.com/watch?v=ur2H7EcADLc</em></a>
			</p>
			<p>
			<strong>V. Bảo Trợ </strong>
			</p>
			<p>
			Để thực hiện được 3 ngày đại hội VYC, ngân quỹ của mỗi VYC đã có lần vượt trên $200,000. Để thu hút được sự tham dự của các bạn trẻ thì VYC phải có một
			chương trình xúc tiến và một lệ phí thật thấp. Do đó VYC không thể diễn ra nếu không có được sự hỗ trợ của các Mạnh Thường Quân. Mọi đóng góp dù ít hay
			nhiều đều được trân quý bởi Ban Tổ Chức của VYC5. Xin liên lạc trực tiếp với BanTổ Chức qua các hình thức dưới đây:
			</p>
			<p>
			Điện thoại: (206) 799-6381
			</p>
			<p>
			Email: caneric.tran@vyc5.org <em> </em>
			</p>
			<p>
			Địa chỉ: 3316 94th Ave SE, Mercer Island WA 98040.
			</p>
			<p>
			Chi phiếu xin viết cho “VYC 5”
			</p>
			<p>
			Xin chân thành cám ơn sự hỗ trợ của quý vị. (<em><a href="/#/sponsor">link to Sponsorship page</a>). </em>
			</p>
			<p>
			<em></em>
			<br/>
			</p>
			<p>
			<strong>VI. Liên lạc: </strong>
			</p>
			<p>
			Nếu thắc mắc hoặc muốn tìm hiểu thêm về VYC 5, xin vào trang nhà <a href="http://www.vyc5.org">www.vyc5.org</a>
			</p>
			<p>
			Quý vị cũng có thể liên lạc với trực tiếp với đồng Chủ Tịch của BanTổ Chức VYC 5 là:
			</p>
			<p>
			Trần Eric Cần: (206) 799-6381 <a href="mailto:caneric.tran@vyc5.org">caneric.tran@vyc5.org</a>
			</p>
			<p>
			Lưu Công Tiên (John): (253) 394-6323 <a href="mailto:tienjohn.luu@vyc5.org">tienjohn.luu@vyc5.org</a>
			</p>
		</div>
	</div>
</div>